.first
{
    background-color: black;
    color: white;
    font-weight: bold;
}
.second
{
    background-color: yellow;
    color: black;
}

button
{
    border: solid;
    font-size: 28px;
    border: solid;
    font-family: Helvetica Times New Roman sans-serif;
}
