p
{
    background-color: rgb(255, 159, 164);
    font-family: verdana Sans sans-serif;
}   

.second
{
    color: blue;
    font-size: 36px;
}

.third
{
    font-size: 24px;
}

.fourth
{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}