.one
{
    background-color: rgb(252, 169, 183);
    padding: 32px;
    font-size: 25px;
    font-weight: bold;
    border: 6px solid blue;
    margin: 12px;
    width: 730px;
    margin-left: 200px;
}

.two
{
    background-color: rgb(115, 198, 211);
    border: 6px solid brown;
    font-size: 25px;
    font-weight: bold;
    width: 850px;
    margin-left: 170px;
}

.three
{
    background-color: rgba(250, 173, 78, 0.599);
    font-size: 25px;
    font-weight: bold;
    border: 6px solid rgb(197, 128, 2);
    margin: 48px;
    padding: 50px;
    width: 550px;
    margin-left: 370px

}